.App { display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightgray;
  column-gap: 20px;
  padding: 20px 20px;
  @media screen and (max-width: 600px) {

        width: 100%;
  }
}
  
img {
  display: flex;
  width: 400px;
  height: 400px
}



  nav {
    text-align: center;
    display: block;
}

.logo {
  margin: auto;
  text-align: 
}

ul {
  display: block;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;

  
}

body {
  margin: 80px;
  
}

a {
  text-align: center;
}

